.App {
  text-align: center;
}

.button-red{
  margin: 8px;
  background-color: #E57373;
  color: white;
  padding: 5px;
}

.button-green{
  margin: 8px;
  background-color: #4CAF50;
  color: white;
  padding: 5px;
}

.faint{
  margin-left: 25px;
  margin-right: 25px;
  border: none;
  height: 1px;
  background-color: lightgray; 

}
